*{
    box-sizing: border-box;
    margin: 0;
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
}
.search-icon{
    height: 22px;
    padding-right: 15px;
}
.notifications-icon{
    height: 20px;
    padding: 0px 10px 0px;
    justify-self: end;
}

.site-wrapper{
    display: grid;
    grid-template-columns: .8fr 3fr;
}
.header{
    height: 150px;
    grid-column-start: 2;
    grid-column-end: 4;
    display: grid;
    grid-template-rows: .75fr, 1fr;
    background-color: white
}
.header span{
    font-weight: bold;
}

.name{
    font-size: 1.5rem;
}

.button{
    width: 100%;
    max-width: 100px;
    box-sizing: border-box;
    color: #ffffff;
    background-color: #3498db;
    height: 40px;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    padding: 10px 20px;
    border: 2px solid #3498db;
    border-radius: 16px;
    transition: background-color 0.3s, color 0.3s;
}

.button:hover {
    background-color: #2980b9; 
    border-color: #2980b9; 
    color: #ffffff; 
  }
.header-top{
    display: grid;
    grid-column: span 4;
    grid-template-columns: auto auto 1fr auto auto;
    grid-template-rows: 1fr;
    align-items: center;
    gap: 10px;
    background-color: white
}
.buttons-div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
   
    padding-right: 35px;
}
.header-top > h1{
    font-size: 1rem;
    padding-right: 50px;
}
.header-top > button{
    grid-column-start: 3;
    width: auto;
    justify-self: end;
}
.submit-button{
    grid-column: 1;
}
#search{
    grid-column: span 3;
    width: 600px;
    height: 25px;
    padding-right: 20px;
    border: none;
    background: lightgray;
    border-radius: 10px;
}

.sidebar{
   grid-column: 1 / 2;
   grid-row: 1 / 3;
   position: relative;
   z-index: 2;
    background: rgb(132, 192, 192);
}
.logo{
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 15px 15px;
}
.logo svg{
    height: 40px;
}
.main-nav{
    padding: 15px;
}
.nav-item{
    display: flex;
    align-items: center;
    padding: 5px 0px 5px;
    margin: 10px 0 px 10px;
} 
.nav-item p{
    font-size: 20px;
    font-weight: 500;
    margin: 0px 10px 0px;
}  
.nav-icon{
    height: 20px;
}
.settings-nav{
    padding: 15px;
}
.nav-item:hover{
    background-color: rgb(63, 93, 105);
    border-radius: 8px  ;
}
.main-wrapper{
    display: grid;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    grid-template-columns: 2.8fr 1fr;
    grid-template-rows: 1fr 1fr;
    background: lavender;
    gap: 20px;
    padding: 30px 20px 50px;
    padding-right: 30px;
}
.projects {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
  }
.projects-title{
    grid-column: span 2;
    font-size: 1.5rem;
}
.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 25px;
  }
.card{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4fr 1fr;
    background-color: white;
    height: 190px;
    border-radius: 8px;
    border-left: 7px solid aquamarine;
    box-shadow: 2px 2px 5px 1px rgba(147, 112, 216, 0.425);
    padding: 25px 15px 20px 20px;
}
.project-info{
    grid-row: 1 / 4;
    box-sizing: inherit;
    background-color: white;
    display: grid;
}
.project-buttons{
    grid-row: 5 / 6;
    display: flex;
    justify-content: end;
}
.annoucments{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
   
}
.annoucment-title-h1{
    font-size: 1.5rem;
}
.trending{  
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    background-color: white;
}
.trending-card{
    flex: 1;
    border-radius: 8px;
    box-shadow: 2px 2px 5px 1px white;
    padding: 5px;
}
.trending-content{
    display: flex;
    align-items: center;
}
.trending-info{
    font-size: small;
    margin: 0px 15px 0px;
}


.card-title,
.annoucment-title,
.trending-title {
    margin-bottom: 10px;
    font-size: 1rem;
}

.annoucment-card{
    flex: 1;
    border-radius: 6px;
    background-color: white;
    box-shadow: 2px 2px 5px 1px rgba(147, 112, 216, 0.425);
    padding: 25px;
}
.annoucment{
    margin: 0px 5px 0px;
}
.annoucment h5{
    font-size: 12px;
    margin: 2px 0px 2px;
}
.annoucment p{
    font-size: 11px;
    overflow: hidden;
    margin: 0px;
}


